<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="resource-view-list (resources)">
    <div th:each="resource : ${resources}">
        <a th:name="${#strings.replace(resource.path,'/','')}"></a>

        <div th:text="${resource.path}"></div>
        <div th:text="${resource.description}"></div>
        <ul>
            <li th:each="method : ${resource.allowedMethods}" th:text="${method}"></li>
        </ul>
        <ul>
            <li th:each="endpoint : ${resource.endpoints}">
                <div>
                    <div th:text="${resource.path} + (*{endpoint.path}?: '')"></div>
                    <div th:text="${endpoint.httpMethod}"></div>
                    <div th:text="${endpoint.description}"></div>
                    <ul>
                        <li th:each="parameter : ${endpoint.queryParameter}">
                            <div th:text="${parameter.name}"></div>
                            <div th:text="${parameter.type}"></div>
                            <div th:text="${parameter.defaultValue}"></div>
                            <div th:text="${parameter.description}"></div>
                            <div th:text="'Is Required? ' + (${parameter.isRequired} ? 'yes' : 'no')"></div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>

</body>

</html>